/*
Scrimba M3 bootcamp project
Author: Cassie Lewis
https://clewisdev.com
Date: March 2023 
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/

    --plain-text: black;

    --pager-background: #283033;
    --pager-display: #9EC4B3;
    --pager-display-text: #000000;

    --phone-background: #D9D9D9;
    --phone-display: #283033;
    --phone-display-text: #F8F8F8;
    --phone-key: #F8F8F8;

    --reset-send-border: #0B0B0B;

    --reset-button: #BE482A;
    --reset-button-text: #F8F8F8;

    --send-button: #3D9C7C;
    --send-button-text: #0B0B0B;  
    
    /*BORDER RADIUS*/
    --br-soft: .5rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-l: 1.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: var(--fs-l);
    
    display: flex;
    justify-content: center;

}

button {
    font-family: 'Press Start 2P', cursive;
}

input[type=text] {
    font-family: 'Press Start 2P', cursive;
    font-size: var(--fs-l);
    text-align: center;
}


@media (max-width: 500px) {
    body {
        font-size: 1rem;
    }
}

/******* CONTAINER ******/

.main-container {
    width: 500px;
    margin: 1rem;
}

/******* PAGER ******/

.pager-title {
    color: var(--phone-key);
}

.pager {
    background-color: var(--pager-background);
    padding: 1rem;
    margin-bottom: 1rem;
}

.pager-field {
    width: 100%;
    height: 60px;
    color: var(--pager-display-text);
    background: linear-gradient(to right, #b8e4d0, #9EC4B3, #6b8b7d);
    padding: 1rem;
    border-left: 7px solid black;
    border-top: 7px solid black;
}


/****** PHONE ******/

.phone-title {
    color: var(--plain-text);
}

.phone {
    background-color: var(--phone-background);
    padding: 1rem;
}

.phone-field {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #5f7077, #283033, #1e2325);
    color: var(--phone-display-text);
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 7px solid black;
    border-top: 7px solid black;
}

/****** NUMPAD ******/

.numpad {
    width: 100%;
}

.numpad-btns {
    width: 120px;
    height: 90px;
    background: linear-gradient(-200deg, #ffffff, #eeeded, #8f8e8e, rgb(54, 54, 102));
    color: var(--plain-text);
    border: none;
    border-radius: var(--br-soft);
    outline: 5px outset white;
}

@media (max-width: 500px) {
    .numpad-btns {
        width: 100px;
        height: 70px;
    }
}

@media (max-width: 400px) {
    .numpad-btns {
        width: 70px;
        height: 70px;
    }
}

/****** BUTTONS *******/

.reset-btn, .send-btn {
    border: 3px solid var(--reset-send-border);
    padding: 1rem;
    /* border: none; */
    border: 2px outset black;
    border-radius: var(--br-soft);
    border-right: 7px solid var(--phone-display);
    border-bottom: 7px solid var(--phone-display);
    box-shadow: 2px 2px var(--phone-display);
    /* outline: 5px outset white; */
}

.reset-btn {
    width: 100%;
    background: linear-gradient(to right, #ff957b, #BE482A, #7c3827);
    color: var(--reset-button-text);
    margin-top: .5rem
}

.send-btn {
    width: 100%;
    background: linear-gradient(to right, #58dfb2, #3D9C7C, #317a62);
    color: var(--send-button-text);
}

/****** MARGINS AND FONT SIZES ******/

.pager-title, .phone-title, .numpad-btns, .reset-btn, .send-btn {
    font-size: var(--fs-l);
    margin-bottom: 1rem;
}

@media (max-width: 500px) {
    .pager-title, .phone-title, .numpad-btns, .reset-btn, .send-btn {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}


/****** REMOVE NUMBER SPINNER FROM INPUT ******/

/****** REMOVE NUMBER SPINNER FROM INPUT ******/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

    

    