/*
Author: Cassie Lewis
https://clewisdev.com
Date: March 2023 
*/

/*
COOLORS color palette link
https://coolors.co
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/

    --pager-background: #283033;
    --pager-display: #9EC4B3;
    --pager-display-text: #000000;

    --phone-background: #D9D9D9;
    --phone-display: #9EC4B3;
    --phone-display-text: #F8F8F8;
    --phone-key: #F8F8F8;

    --reset-send-border: #0B0B0B;

    --reset-button: #BE482A;
    --reset-button-text: #F8F8F8;

    --send-button: #3D9C7C;
    --send-button-text: #0B0B0B;  
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-l: 1.5rem;
    --fs-numbers: 3.125rem

}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Press Start 2P', cursive;
}

/*TODO LAYOUT TOOLS - flexbox



    

    

    